<h2>
  <%= @quote.text %>
</h2>

<%= form_with model: [@quote, @rating], data: {turbo: false} do |f| %>
  <%= f.object.errors.full_messages.to_sentence %>
  <%= f.number_field :number, in: Rating::NUMBER_RANGE %>
  <%= f.submit %>
<% end %>
